<h2>Team Members</h2>
      <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAQVAAAAJDI4YTgyZGQyLTBiODYtNGRlYi05YWE2LTU0M2JhODVmNWI3NA.jpg"
               alt="Matt's photo">
          <div class="caption">
            <h3>Matt Maron</h3>
            <h5>Co-founder/Principle Researcher</h5>
        <p>Matt Maron is awesome!</p>
        <p><a href="mailto:mlm378@cornell.edu?Subject=607%20Inquiry" class="btn btn-primary" role="button">Email</a>
        <a href="#" class="btn btn-default" role="button">LinkedIn</a></p>
      </div>
    </div>
  </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAYRAAAAJDQ2OTgxMDUxLThmNTgtNGJjYi05ZWM2LWRiZWI4NTY1N2QyZg.jpg"
               alt="Austin's Photo"
               class="aboutPhoto">
          <div class="caption">
            <h3>Austin Liu <i class="fa fa-code"></i> </h3>
            <h5>Co-founder / Principle Researcher</h5>
            <hr>
        <p> Currently using Python, HP IdolOnDemand, and Instagram APIs to develop a bot which will analyze data scraped from Instagram to determine
            if there exists a correlation between social media presence and business success. </p>
        <hr>
        <p><a href="mailto:arl96@cornell.edu" class="btn btn-primary" role="button">Email</a>
        <a href="http://aliu139.github.io/#/" class="btn btn-default" role="button">Personal Site</a></p>
      </div>
    </div>
  </div>

</div>
<!-- <<h1>Advisor</h1>
      <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="https://communication.cals.cornell.edu/sites/communication.cals.cornell.edu/files/styles/people_large/public/people/0741_13_109_select.jpg?itok=YVRtVaKV"
               alt="Austin's Photo">
          <div class="caption">
            <h3>Professor Drew Margolin</h3>
            <h5>Research Advisor</h5>
        <p>Prof. Margolin is awesome!</p>
        <p><a href="#" class="btn btn-primary" role="button">Email</a>
        <a href="#" class="btn btn-default" role="button">Research Site</a></p>
      </div>
    </div>
  </div>

</div>
-->